<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html>
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:p="http://primefaces.org/ui" template="/resources/layout.xhtml">


	<ui:define name="corpo">


		<h:form id="formAluno">
			<p:messages autoUpdate="true"></p:messages>
			<p:growl autoUpdate="true" id="growl-aluno" />

			<h1>Aluno</h1>
			<p:panel id="horizontal" header="Formulário" toggleable="true"
				toggleOrientation="horizontal">
				<div class="ui-fluid">
					<p:panelGrid id="panel" columns="2" layout="grid"
						columnClasses="ui-grid-col-6, ui-grid-col-6"
						styleClass="ui-panelgrid-blank"
						style="margin-top: 20px; margin-bottom: 60px">

						<p:columnGroup>
							<p:outputLabel value="Data de Nascimento" for="dataNascimento" />
							<p:calendar id="dataNascimento" pattern="dd/MM/yyyy" mask="true"
								timeZone="America/Maceio" required="true" locale="pt_BR"
								navigator="true" yearRange="c-90:"
								requiredMessage="Campo Data de Nascimento é obrigatório"
								value="#{alunoBean.aluno.dataNascimento.time}" />
						</p:columnGroup>

						<p:columnGroup>
							<p:outputLabel value="Nome" for="nome" />
							<p:inputText id="nome" value="#{alunoBean.aluno.nome}"
								style="width: 100%" required="true"
								requiredMessage="Campo Nome é obrigatório" />
						</p:columnGroup>

						<p:columnGroup>
							<p:outputLabel value="CPF" for="cpf" />
							<p:inputMask mask="999.999.999-99" id="cpf"
								value="#{alunoBean.aluno.cpf}" required="true"
								requiredMessage="Campo CPF é obrigatório" />
						</p:columnGroup>

						<p:columnGroup>
							<p:outputLabel value="Telefone" for="telefone" />
							<p:inputMask mask="(99) 99999-9999" id="telefone"
								value="#{alunoBean.aluno.telefone}" required="true"
								requiredMessage="Campo Telefone é obrigatório" />
						</p:columnGroup>

						<p:columnGroup>
							<p:outputLabel value="Sexo" for="sexo" />
							<p:selectOneMenu id="sexo" value="#{alunoBean.aluno.sexo}"
								required="true" requiredMessage="Campo Sexo é obrigatório">
								<f:selectItem itemLabel="Selecione" itemValue="" />
								<f:selectItems value="#{alunoBean.sexos}" var="sexo"
									itemLabel="#{sexo.descricao}" itemValue="#{sexo}" />
							</p:selectOneMenu>
						</p:columnGroup>

						<p:columnGroup>
							<p:outputLabel value="Estado Civil" for="estadoCivil" />
							<p:selectOneMenu id="estadoCivil" required="true"
								requiredMessage="Campo Estado Civil é obrigatório"
								value="#{alunoBean.aluno.estadoCivil}">
								<f:selectItem itemLabel="Selecione" itemValue="" />
								<f:selectItems value="#{alunoBean.estadoCivis}"
									var="estadoCivil" itemValue="#{estadoCivil}"
									itemLabel="#{estadoCivil.descricao}" />
							</p:selectOneMenu>
						</p:columnGroup>

					</p:panelGrid>
				</div>
				<p:commandButton value="Salvar" action="#{alunoBean.salvar}"
					process="@form" update="@form :formTabelaAluno" icon="fa fa-save" />

				<p:commandButton action="#{alunoBean.cancelarEdicao}" value="Voltar"
					process="@this" icon="fa fa-arrow-circle-o-left"
					update=":formAluno :formToolBarAluno :formTabelaAluno" />
			</p:panel>


		</h:form>

		<h1>Lista de Alunos</h1>

		<h:form id="formToolBarAluno">
			<p:toolbar id="barraEdicaoAluno">
				<f:facet name="left">

					<p:commandButton id="editar" icon="ui-icon-pencil"
						disabled="#{alunoBean.alunoSelecionadoTabela == null}"
						process="@this" update=":formAluno">
						<p:resetInput target=":formAluno"></p:resetInput>
						<f:setPropertyActionListener
							value="#{alunoBean.alunoSelecionadoTabela}"
							target="#{alunoBean.aluno}" />
					</p:commandButton>
					<p:tooltip id="toolTipEditar" for="editar"
						value="Editar aluno selecionado" position="top" />

					<p:commandButton id="deletar" icon="ui-icon-trash"
						disabled="#{alunoBean.alunoSelecionadoTabela == null}"
						process="@this" update=":formTabelaAluno :formToolBarAluno"
						action="#{alunoBean.excluir}">
						<p:confirm header="Exclusão de Aluno"
							message="Tem certeza que deseja excluir o Aluno?"
							icon="ui-icon-alert"></p:confirm>
					</p:commandButton>
					<p:tooltip id="toolTipDeletar" for="deletar"
						value="Deletar aluno selecionado" position="top" />


				</f:facet>
			</p:toolbar>
		</h:form>
		
		<div class="ui-fluid">
		<h:form id="formTabelaAluno" style="margin-top: 10px">
			<p:dataTable var="aluno" value="#{alunoBean.alunos}" reflow="true" 
				selectionMode="single" rowKey="#{aluno.id}" rows="10" 
				paginator="true" selection="#{alunoBean.alunoSelecionadoTabela}"
				emptyMessage="Não existem registros na tabela">

				<p:ajax event="rowSelect"
					update=":formToolBarAluno:barraEdicaoAluno" />
				<p:ajax event="rowUnselect"
					update=":formToolBarAluno:barraEdicaoAluno" />

				<p:column headerText="Id" width="70" >
					<h:outputText value="#{aluno.id}" />
				</p:column>

				<p:column headerText="Nome" sortBy="#{aluno.nome}" 
					filterBy="#{aluno.nome}" filterMatchMode="contains">
					<h:outputText value="#{aluno.nome}" />
				</p:column>

				<p:column headerText="CPF" >
					<h:outputText value="#{aluno.cpf}" />
				</p:column>

				<p:column headerText="Sexo" >

					<h:outputText value="#{aluno.sexo}" />
				</p:column>

				<p:column headerText="Telefone" >
					<h:outputText value="#{aluno.telefone}" />
				</p:column>

				<p:column headerText="Data de Nascimento" >
					<h:outputText value="#{aluno.dataNascimento.time}">
						<f:convertDateTime type="date" pattern="dd/MM/yyyy" />
					</h:outputText>
				</p:column>

				<p:column headerText="Estado Civil">
					<h:outputText value="#{aluno.estadoCivil}" />
				</p:column>
			</p:dataTable>
		</h:form>
		</div>
	</ui:define>

</ui:composition>