<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html>
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:p="http://primefaces.org/ui" template="/resources/layout.xhtml">


	<ui:define name="corpo">
	
	<f:metadata>
		<f:event listener="#{graficoAlunoBean.preRender}" type="preRenderView" />
	</f:metadata>

		<p:chart model="#{graficoAlunoBean.model}" type="line" responsive="true" />
		
	</ui:define>

</ui:composition> 