<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html>
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:p="http://primefaces.org/ui" template="/resources/layout.xhtml">


	<ui:define name="corpo">

		<p:messages autoUpdate="false" />

		<h1>Teste</h1>
			<div class="panel panel-info">
	  			<div class="panel-heading">
	   				 <h3 class="panel-title">Formulário de Teste</h3>
	  			</div>
	  			<div class="panel-body" >
	    
					<H1>Corpo</H1>
					

	    			<div class="panel-footer">
	    				<p:commandButton value="Salvar" />
	    			</div>
	  		</div>
		</div>
		
	</ui:define>

</ui:composition>