<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html>
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:p="http://primefaces.org/ui" template="/resources/layoutold.xhtml">


	<ui:define name="corpo">

		<h:form id="ringForm">
			<p:ring id="basic" value="#{alunoBean.alunos}" var="aluno">
				<p:outputPanel style="text-align: center;" layout="block">
       				#{aluno.nome}
    				</p:outputPanel>
			</p:ring>
		</h:form>


	</ui:define>

</ui:composition>