<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html>
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:p="http://primefaces.org/ui" template="/resources/layoutold.xhtml">


	<ui:define name="corpo">
		
					
		

		<p:messages autoUpdate="false" />

		<h1>Aluno</h1>
			<div class="panel panel-info">
	  			<div class="panel-heading">
	   				 <h3 class="panel-title">Formulário</h3>
	  			</div>
	  		<div class="panel-body" >
	    			<p:panelGrid id="dadosGeraisPanel" columns="4" layout="grid" 
					style="margin-top: 20px; margin-bottom: 40px"
					columnClasses="ui-g-4">
					
					<p:outputLabel value="Nome" for="nome" />
					<p:inputText id="nome" />
					

					<p:outputLabel value="CPF" for="cpf" />
					<p:inputMask mask="999.999.999-99" id="cpf" />

					<p:outputLabel value="Telefone" for="telefone" />
					<p:inputMask mask="(99) 99999-9999" id="telefone" />

					<p:outputLabel value="Sexo" for="sexo" />
					<p:selectOneMenu id="sexo">
						<f:selectItem itemLabel="Selecione" itemValue="" />
						<f:selectItem itemLabel="Masculino" itemValue="MASCULINO" />
						<f:selectItem itemLabel="Feminino" itemValue="FEMININO" />
					</p:selectOneMenu>

					<p:outputLabel value="Estado Civil" for="estadoCivil" />
					<p:selectOneMenu id="estadoCivil">
						<f:selectItem itemLabel="Selecione" itemValue="" />
						<f:selectItem itemLabel="Solteiro" itemValue="SOLTEIRO" />
						<f:selectItem itemLabel="Casado" itemValue="CASADO" />
						<f:selectItem itemLabel="Amasiado" itemValue="AMASIADO" />
						<f:selectItem itemLabel="Divorciado" itemValue="DIVORCIADO" />
						<f:selectItem itemLabel="Viúvo" itemValue="VIUVO" />
					</p:selectOneMenu>

					<p:outputLabel value="Data de Nascimento" for="dataNascimento" />
					<p:calendar id="dataNascimento" pattern="dd/MM/yyyy" mask="true" />
					
				</p:panelGrid>
				<p:commandButton value="Salvar" />
	    			
	  		</div>
		</div>
		
	</ui:define>

</ui:composition>