<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets">

<h:head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<title>Avaliação Física</title>
	<h:outputStylesheet name="css/bootstrap.min.css" />
</h:head>
<h:body>
	<header>
		<h:form>
			<p:growl id="messages" />

			<p:menubar>
				<p:submenu label="Menu" icon="fa fa-leanpub">
					<p:submenu label="Aluno" icon="fa fa-user-plus">
						<p:menuitem value="Adicionar/Listar"
							outcome="/templates/aluno/form" icon="fa fa-users" />

					</p:submenu>
					<p:submenu label="Avaliador" icon="fa fa-user-plus">
						<p:menuitem value="Adicionar/Listar"
							outcome="/templates/avaliador/form" icon="fa fa-users" />

					</p:submenu>
					<p:submenu label="Avaliação" icon="fa fa-heartbeat">
						<p:menuitem value="Adicionar/Listar"
							outcome="/templates/avaliacao/form" icon="fa fa-user-md" />
					</p:submenu>
				</p:submenu>

				<f:facet name="options">
					<p:themeSwitcher id="basic" style="width:165px"
						value="#{themaBean.temaSelecionado}" styleClass="right:10px;">
						<f:selectItem itemLabel="Choose Theme" itemValue="" />
						<f:selectItems value="#{themaBean.temas}" var="tema"
							itemLabel="#{tema}" itemValue="#{tema}" />

						<f:ajax />
					</p:themeSwitcher>
				</f:facet>
			</p:menubar>
		</h:form>
	</header>

	<div class="container-fluid">
		<ui:insert name="corpo">


		</ui:insert>

		<p:separator />

		<footer>
			<p>Sistema de cadastro de avaliações Físicas</p>
		</footer>
	</div>

	<h:form>
		<p:confirmDialog global="true">
			<p:commandButton value="Não" type="button"
				styleClass="ui-confirmdialog-no" icon="ui-icon-close" />
			<p:commandButton value="Sim" type="button"
				styleClass="ui-confirmdialog-yes" icon="ui-icon-check" />
		</p:confirmDialog>
	</h:form>
	<h:outputScript name="js/bootstrap.min.js"></h:outputScript>
	<h:outputScript library="js" name="traducaoCalendar.js"></h:outputScript>
</h:body>
</html>