<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:p="http://primefaces.org/ui" template="/resources/layout.xhtml">
	

	<ui:define name="corpo">
	
	<f:metadata>
		<f:viewParam name="id" value="#{avaliacaoBean.avaliacaoId}"></f:viewParam>
		<f:viewAction action="#{avaliacaoBean.prepararEdicao}"></f:viewAction>
	</f:metadata>

		<h:form id="formAvaliacao">

			<p:messages autoUpdate="true" />
			<p:growl autoUpdate="true" id="growl-avaliacao" />

			<h1>Avaliação</h1>
			<p:panel id="horizontal" header="Formulário" toggleable="true"
				toggleOrientation="horizontal">
				<div class="ui-fluid">
					<p:panelGrid columns="2" layout="grid" styleClass="ui-panelgrid-blank"
					columnClasses="ui-grid-col-2, ui-grid-col-10">
						<p:outputLabel value="Aluno" for="avaliado" />
						<p:selectOneMenu id="avaliado" value="#{avaliacaoBean.avaliacao.aluno}" required="true" requiredMessage="Aluno deve der informado">
							<f:selectItem itemLabel="Selecione" itemValue="" />
							<f:selectItems value="#{avaliacaoBean.alunos}" var="aluno"
								itemLabel="#{aluno.nome}" itemValue="#{aluno}" />
						</p:selectOneMenu>
						
						<p:outputLabel value="Avaliador" for="avaliador"/>
						<p:autoComplete value="#{avaliacaoBean.avaliacao.avaliador}" required="true" requiredMessage="Avaliador deve ser informado"
								completeMethod="#{avaliacaoBean.autoCompleteAvaliador}" forceSelection="true" id="avaliador"
								var="av" itemLabel="#{av.nome}" itemValue="#{av}"/>
						
					</p:panelGrid>
					<p:panelGrid columns="3" layout="grid"
						styleClass="ui-panelgrid-blank"
						style="margin-top: 20px; margin-bottom: 40px"
						columnClasses="ui-grid-col-4, ui-grid-col-4, ui-grid-col-4">
						<p:columnGroup>
						<p:outputLabel value="Data da Avaliação" for="dataAvaliacao" />
						<p:calendar id="dataAvaliacao" pattern="dd/MM/yyyy" mask="true" locale="pt_BR"
							value="#{avaliacaoBean.avaliacao.data.time}" />
						</p:columnGroup>
						
						<p:columnGroup>
						<p:outputLabel value="Tórax" for="torax" />
						<p:inputText id="torax" value="#{avaliacaoBean.avaliacao.torax}" />
						</p:columnGroup>
						
						<p:columnGroup>
						<p:outputLabel value="Pescoço" for="pescoco" />
						<p:inputText id="pescoco" 
							value="#{avaliacaoBean.avaliacao.pescoco}" />
						</p:columnGroup>
						
						<p:columnGroup>
						<p:outputLabel value="Cintura" for="cintura" />
						<p:inputText id="cintura" 
							value="#{avaliacaoBean.avaliacao.cintura}" />
						</p:columnGroup>
						
						<p:columnGroup>
						<p:outputLabel value="Qualdril" for="quadril" />
						<p:inputText id="quadril" 
							value="#{avaliacaoBean.avaliacao.quadril}" />
						</p:columnGroup>

						<p:columnGroup>
						<p:outputLabel value="Bíceps Direito" for="bicepsD" />
						<p:inputText id="bicepsD"
							value="#{avaliacaoBean.avaliacao.bicepsDireito}" />
						</p:columnGroup>
						
						<p:columnGroup>
						<p:outputLabel value="Antebraço Direito" for="antebracoD" />
						<p:inputText id="antebracoD"
							value="#{avaliacaoBean.avaliacao.antebracoDireito}"/>
						</p:columnGroup>
						
						<p:columnGroup>
						<p:outputLabel value="Bíceps Esquerdo" for="bicepsE" />
						<p:inputText id="bicepsE"
							value="#{avaliacaoBean.avaliacao.bicepsEsquerdo}" />
						</p:columnGroup>
						
						<p:columnGroup>
						<p:outputLabel value="Antebraço Esquerdo" for="antebracoE" />
						<p:inputText id="antebracoE"
							value="#{avaliacaoBean.avaliacao.antebracoEsquerdo}"/>
						</p:columnGroup>
						
						<p:columnGroup>
						<p:outputLabel value="Coxa Direita" for="coxaD" />
						<p:inputText id="coxaD"
							value="#{avaliacaoBean.avaliacao.coxaDireita}" />
						</p:columnGroup>
						
						<p:columnGroup>
						<p:outputLabel value="Panturrilha Direita" for="panturrilhaD" />
						<p:inputText id="panturrilhaD"
							value="#{avaliacaoBean.avaliacao.panturrilhaDireita}"/>
						</p:columnGroup>
						
						<p:columnGroup>
						<p:outputLabel value="Coxa Esquerda" for="coxaE" />
						<p:inputText id="coxaE"
							value="#{avaliacaoBean.avaliacao.coxaEsquerda}" />
						</p:columnGroup>
						
						<p:columnGroup>
						<p:outputLabel value="Panturrilha Esquerda" for="panturrilhaE" />
						<p:inputText id="panturrilhaE"
							value="#{avaliacaoBean.avaliacao.panturrilhaEsquerda}" />
						</p:columnGroup>
						
						<p:columnGroup>
						<p:outputLabel value="Peso" for="peso" />
						<p:inputText id="peso" value="#{avaliacaoBean.avaliacao.peso}"   />
						</p:columnGroup>
						
						<p:columnGroup>
						<p:outputLabel value="Altura" for="altura" />
						<p:inputText id="altura" value="#{avaliacaoBean.avaliacao.altura}"  />
						</p:columnGroup>
					</p:panelGrid>
				</div>
				<p:commandButton value="Salvar" style="margin-top:20px;" icon="fa fa-save"
					action="#{avaliacaoBean.salvar}" process="@form" update="@form" />
					
				<p:commandButton action="#{avaliacaoBean.cancelarEdicao}" value="Voltar" 
								process="@this" style="margin-top:20px;" icon="fa fa-arrow-circle-o-left" 
								update="@this" />

			</p:panel>
		</h:form>

	</ui:define>
</ui:composition>