<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:p="http://primefaces.org/ui" template="/resources/layout.xhtml">
	

	<ui:define name="corpo">

		<h1>Lista de Avaliações</h1>
		<p:messages autoUpdate="true" />

		<h:form id="formToolBarAvaliacao">
			<p:toolbar id="barraEdicaoAvaliacao">
				<f:facet name="left">
					<p:button icon="ui-icon-plus" id="nova" outcome="/templates/avaliacao/formulario" value="Nova"/>
					<p:tooltip for="nova" value="Criar nova avaliação" position="top" rendered="true" />
					<span class="ui-separator">
                			<span class="ui-icon ui-icon-grip-dotted-vertical" />
            			</span>
					
					
					<p:button icon="fa fa-android" disabled="#{avaliacaoBean.avaliacaoSelecionadaTabela == null}"
								outcome="/templates/avaliacao/formulario">
								<f:param name="id" value="#{avaliacaoBean.avaliacaoSelecionadaTabela.id}"></f:param>
					</p:button>
					
					<p:commandButton id="deletar" icon="ui-icon-trash"
						disabled="#{avaliacaoBean.avaliacaoSelecionadaTabela == null}"
						process="@this" update=":formTabelaAvaliacao :formToolBarAvaliacao"
						action="#{avaliacaoBean.excluir}">
						<p:confirm header="Exclusão de Avaliacao"
							message="Tem certeza que deseja excluir a Avaliação?"
							icon="ui-icon-alert"></p:confirm>
					</p:commandButton>
					<p:tooltip id="toolTipDeletar" for="deletar"
						value="Deletar avaliação selecionada" position="top" />

				</f:facet>
			</p:toolbar>
		</h:form>

		<h:form id="formTabelaAvaliacao" style="margin-top: 10px">
			<p:dataTable var="avaliacao" value="#{avaliacaoBean.avaliacoes}" 
				reflow="true" 
				selectionMode="single" 
				rowKey="#{avaliacao.id}"
				rows="10" paginator="true"
				selection="#{avaliacaoBean.avaliacaoSelecionadaTabela}"
				emptyMessage="Não existem registros na tabela">
				
				<p:ajax event="rowSelect" update=":formToolBarAvaliacao:barraEdicaoAvaliacao"/>
				<p:ajax event="rowUnselect" update=":formToolBarAvaliacao:barraEdicaoAvaliacao" />


				<p:column headerText="Id">
					<h:outputText value="#{avaliacao.id}" />
				</p:column>

				<p:column headerText="Data">
					<h:outputText value="#{avaliacao.data.time}">
						<f:convertDateTime type="date" pattern="dd/MM/yyyy" />
					</h:outputText>
				</p:column>

				<p:column headerText="Aluno" filterBy="#{avaliacao.aluno.nome}" filterMatchMode="contains">
					<h:outputText value="#{avaliacao.aluno.nome}" />
				</p:column>
				<p:column headerText="Avaliador" filterBy="#{avaliacao.avaliador.nome}" filterMatchMode="contains">
					<h:outputText value="#{avaliacao.avaliador.nome}" />
				</p:column>
			</p:dataTable>
		</h:form>
	</ui:define>

</ui:composition>