<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html>
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:p="http://primefaces.org/ui" template="/resources/layout.xhtml">


	<ui:define name="corpo">


		<h:form id="formAvaliador">
			<p:messages autoUpdate="true"></p:messages>
			<p:growl autoUpdate="true" id="growl-avaliador" />

			<h1>Avaliador</h1>
			<p:panel id="horizontal" header="Formulário" toggleable="true"
				toggleOrientation="horizontal">
				<div class="ui-fluid">
					<p:panelGrid id="panel" columns="2" layout="grid"
						columnClasses="ui-grid-col-6, ui-grid-col-6"
						styleClass="ui-panelgrid-blank"
						style="margin-top: 20px; margin-bottom: 60px">

						<p:columnGroup>
							<p:outputLabel value="Data de Nascimento" for="dataNascimento" />
							<p:calendar id="dataNascimento" pattern="dd/MM/yyyy" mask="true"
								timeZone="America/Maceio" required="true" locale="pt_BR"
								requiredMessage="Campo Data de Nascimento é obrigatório"
								value="#{avaliadorBean.avaliador.dataNascimento.time}" />
						</p:columnGroup>

						<p:columnGroup>
							<p:outputLabel value="Nome" for="nome" />
							<p:inputText id="nome" value="#{avaliadorBean.avaliador.nome}"
								style="width: 100%" required="true"
								requiredMessage="Campo Nome é obrigatório" />
						</p:columnGroup>

						<p:columnGroup>
							<p:outputLabel value="CPF" for="cpf" />
							<p:inputMask mask="999.999.999-99" id="cpf"
								value="#{avaliadorBean.avaliador.cpf}" required="true"
								requiredMessage="Campo CPF é obrigatório" />
						</p:columnGroup>

						<p:columnGroup>
							<p:outputLabel value="Telefone" for="telefone" />
							<p:inputMask mask="(99) 99999-9999" id="telefone"
								value="#{avaliadorBean.avaliador.telefone}" required="true"
								requiredMessage="Campo Telefone é obrigatório" />
						</p:columnGroup>


						<p:columnGroup>
							<p:outputLabel value="Sexo" for="sexo" />
							<p:selectOneMenu id="sexo"
								value="#{avaliadorBean.avaliador.sexo}" required="true"
								requiredMessage="Campo Sexo é obrigatório">
								<f:selectItem itemLabel="Selecione" itemValue="" />
								<f:selectItems value="#{avaliadorBean.sexos}" var="sexo"
									itemLabel="#{sexo.descricao}" itemValue="#{sexo}" />
							</p:selectOneMenu>
						</p:columnGroup>

						<p:columnGroup>
							<p:outputLabel value="Estado Civil" for="estadoCivil" />
							<p:selectOneMenu id="estadoCivil" required="true"
								requiredMessage="Campo Estado Civil é obrigatório"
								value="#{avaliadorBean.avaliador.estadoCivil}">
								<f:selectItem itemLabel="Selecione" itemValue="" />
								<f:selectItems value="#{alunoBean.estadoCivis}"
									var="estadoCivil" itemValue="#{estadoCivil}"
									itemLabel="#{estadoCivil.descricao}" />
							</p:selectOneMenu>
						</p:columnGroup>

						<p:columnGroup>
							<p:outputLabel value="Nº Registro" />
							<p:inputText value="#{avaliadorBean.avaliador.numeroRegistro}" />
						</p:columnGroup>


					</p:panelGrid>
				</div>
				<p:commandButton value="Salvar" action="#{avaliadorBean.salvar}"
					process="@form" update="@form :formTabelaAvaliador"
					icon="fa fa-save" />

				<p:commandButton action="#{avaliadorBean.cancelarEdicao}"
					value="Voltar" process="@this" icon="fa fa-arrow-circle-o-left"
					update=":formAvaliador :formToolBarAvaliador :formTabelaAvaliador" />
			</p:panel>


		</h:form>

		<h1>Lista de Avaliadores</h1>

		<h:form id="formToolBarAvaliador">
			<p:toolbar id="barraEdicaoAvaliador">
				<f:facet name="left">

					<p:commandButton id="editar" icon="ui-icon-pencil"
						disabled="#{avaliadorBean.avaliadorSelecionadoTabela == null}"
						process="@this" update=":formAvaliador">
						<p:resetInput target=":formAvaliador"></p:resetInput>
						<f:setPropertyActionListener
							value="#{avaliadorBean.avaliadorSelecionadoTabela}"
							target="#{avaliadorBean.avaliador}" />
					</p:commandButton>
					<p:tooltip id="toolTipEditar" for="editar"
						value="Editar avaliador selecionado" position="top" />

					<p:commandButton id="deletar" icon="ui-icon-trash"
						disabled="#{avaliadorBean.avaliadorSelecionadoTabela == null}"
						process="@this"
						update=":formTabelaAvaliador :formToolBarAvaliador"
						action="#{avaliadorBean.excluir}">
						<p:confirm header="Exclusão de Avaliador"
							message="Tem certeza que deseja excluir o Avaliador?"
							icon="ui-icon-alert"></p:confirm>
					</p:commandButton>
					<p:tooltip id="toolTipDeletar" for="deletar"
						value="Deletar avaliador selecionado" position="top" />


				</f:facet>
			</p:toolbar>
		</h:form>

		<h:form id="formTabelaAvaliador" style="margin-top: 10px">
			<p:dataTable var="avaliador" value="#{avaliadorBean.avaliadores}"
				reflow="true" selectionMode="single" rowKey="#{avaliador.id}"
				rows="10" paginator="true"
				selection="#{avaliadorBean.avaliadorSelecionadoTabela}"
				emptyMessage="Não existem registros na tabela">

				<p:ajax event="rowSelect"
					update=":formToolBarAvaliador:barraEdicaoAvaliador" />
				<p:ajax event="rowUnselect"
					update=":formToolBarAvaliador:barraEdicaoAvaliador" />

				<p:column headerText="Id" width="70">
					<h:outputText value="#{avaliador.id}" />
				</p:column>

				<p:column headerText="Nome" sortBy="#{avaliador.nome}"
					filterBy="#{avaliador.nome}" filterMatchMode="contains">
					<h:outputText value="#{avaliador.nome}" />
				</p:column>

				<p:column headerText="CPF">
					<h:outputText value="#{avaliador.cpf}" />
				</p:column>

				<p:column headerText="Telefone">
					<h:outputText value="#{avaliador.telefone}" />
				</p:column>

				<p:column headerText="Data de Nascimento">
					<h:outputText value="#{avaliador.dataNascimento.time}">
						<f:convertDateTime type="date" pattern="dd/MM/yyyy" />
					</h:outputText>
				</p:column>

				<p:column headerText="Estado Civil">
					<h:outputText value="#{avaliador.estadoCivil}" />
				</p:column>
				<p:column headerText="Nº Resgistro">
					<h:outputText value="#{avaliador.numeroRegistro}" />
				</p:column>
			</p:dataTable>
		</h:form>
	</ui:define>

</ui:composition>